.container-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.5);

    .container-content {
        position: absolute;
        z-index: 2;
    }

    .container-close {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
}
