:root {
    --font-size-small: 14px;
    --font-size-normal: 16px;
    --font-size-medium: 24px;
    --font-size-big: 32px;
    --spacing-small: 10px;
    --spacing-normal: 16px;
    --spacing-medium: 24px;
    --spacing-big: 32px;
}
